Вам необходимо загрузить набор данных «**subset-covid-data.csv**», содержащий данные о количестве случаев и смертей, связанных с пандемией **COVID-19**, для разных стран. https://github.com/DataRepo2019/Data-files или  https://github.com/DataRepo2019/Data-files/blob/master/subset-covid-data.csv

In [ ]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd

# **ЗАДАНИЕ 1**
Напишите функцию / индексатор / атрибут в Pandas для:

In [ ]:
# 1.1	Импорта данных из файла HTML.
# ответ
pd.read_html(url)

In [ ]:
# 1.2	Экспорта данных в файл Excel.

df.to_excel("file.xlsx")

In [ ]:
# 1.3	Выбора данных с использованием позиции индекса.
df.iloc['']

In [ ]:
# 1.4	Выбора данных по метке.
df['']

In [ ]:
# 1.5	Замены нулевых значений медианой.
df.loc[data.smth == 0, 'smth'] = smth

In [ ]:
# 1.6	Переименования столбцов.
df.rename(columns = {'name1': 'name2', 'name3': 'name4'})

In [ ]:
# 1.7	Получения количества строк и столбцов в DataFrame.
len(df.index) 
len(df.columns)

In [ ]:
# 1.8	Преобразования в широкоформатный формат с помощью функции поворота.

In [ ]:
# 1.9	Выполнения внутреннего соединения двух таблиц.
ht_quantity.merge(ht)

In [ ]:
# 1.10	Изменение типа данных серии.
to_numeric()

# **ЗАДАНИЕ 2**
Функция **df.describe()** возвращает следующие сводные статистические значения: количество, минимум, максимум, стандартное отклонение, процентили и средние значения.

In [ ]:
# 2.1 Какой параметр вы бы добавили, чтобы получить следующее:
# количество уникальных значений, значение, которое встречается чаще всего,
# и частота этого значения?

obj.unique()
obj.value_counts()
get_indexer

# **ЗАДАНИЕ  3**
Импортируйте «**subset-covid-data.csv**» в **DataFrame**. Выберите следующие данные:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data (3).csv

In [ ]:
data_csv = pd.read_csv("subset-covid-data.csv", sep=',')

In [ ]:
data_csv

         country continent        date  ...  deaths  country_code  population
0    Afghanistan      Asia  2020-04-12  ...       3           AFG  37172386.0
1        Albania    Europe  2020-04-12  ...       0           ALB   2866376.0
2        Algeria    Africa  2020-04-12  ...      19           DZA  42228429.0
3        Andorra    Europe  2020-04-12  ...       2           AND     77006.0
4         Angola    Africa  2020-04-12  ...       0           AGO  30809762.0
..           ...       ...         ...  ...     ...           ...         ...
201    Venezuela   America  2020-04-12  ...       0           VEN  28870195.0
202      Vietnam      Asia  2020-04-12  ...       0           VNM  95540395.0
203        Yemen      Asia  2020-04-12  ...       0           YEM  28498687.0
204       Zambia    Africa  2020-04-12  ...       0           ZMB  17351822.0
205     Zimbabwe    Africa  2020-04-12  ...       0           ZWE  14439018.0

[206 rows x 10 columns]

In [ ]:
# 3.1 Столбцы 'country' и 'continent'
data_csv[['country', 'continent']]

         country continent
0    Afghanistan      Asia
1        Albania    Europe
2        Algeria    Africa
3        Andorra    Europe
4         Angola    Africa
..           ...       ...
201    Venezuela   America
202      Vietnam      Asia
203        Yemen      Asia
204       Zambia    Africa
205     Zimbabwe    Africa

[206 rows x 2 columns]

In [ ]:
# 3.2	Установите столбец 'country' в качестве индекса и извлеките численность населения, 
# для страны “Algeria” с помощью индексаторов at или loc.

df2 = pd.read_csv("subset-covid-data.csv", index_col=0)
df2.loc['Algeria', 'population']

42228429.0

In [ ]:
# 3.3	Выберите значение в 50-й строке и 3-м столбце с помощью iloc или индексатора iat.

data_csv.iloc[50, 3]

12

In [ ]:
# 3.5	Выберите данные для стран с большим населением: более 2,5 миллионов, а количество заболевших - более 3000.

data_csv[data_csv['population']>2500000]['country']

0      Afghanistan
1          Albania
2          Algeria
4           Angola
7        Argentina
          ...
201      Venezuela
202        Vietnam
203          Yemen
204         Zambia
205       Zimbabwe
Name: country, Length: 137, dtype: object

# **ЗАДАНИЕ 4**
Импортируйте данные для файла «**subset-covid-data.csv**» в DataFrame и напишите код для следующего:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data (4).csv

In [ ]:
data_csv = pd.read_csv("subset-covid-data.csv", sep=',')

In [ ]:
# 4.1. Удалить столбец «country_code».
x = data_csv.pop("country_code")
data_csv

         country continent        date  day  ...  year  cases  deaths  population
0    Afghanistan      Asia  2020-04-12   12  ...  2020     34       3  37172386.0
1        Albania    Europe  2020-04-12   12  ...  2020     17       0   2866376.0
2        Algeria    Africa  2020-04-12   12  ...  2020     64      19  42228429.0
3        Andorra    Europe  2020-04-12   12  ...  2020     21       2     77006.0
4         Angola    Africa  2020-04-12   12  ...  2020      0       0  30809762.0
..           ...       ...         ...  ...  ...   ...    ...     ...         ...
201    Venezuela   America  2020-04-12   12  ...  2020      0       0  28870195.0
202      Vietnam      Asia  2020-04-12   12  ...  2020      4       0  95540395.0
203        Yemen      Asia  2020-04-12   12  ...  2020      0       0  28498687.0
204       Zambia    Africa  2020-04-12   12  ...  2020      0       0  17351822.0
205     Zimbabwe    Africa  2020-04-12   12  ...  2020      3       0  14439018.0

[206 rows x 9 columns]

In [ ]:
# 4.2. Вставить этот столбец обратно.

data_csv.insert(8, "country_code", x)
data_csv

         country continent        date  ...  deaths  country_code  population
0    Afghanistan      Asia  2020-04-12  ...       3           AFG  37172386.0
1        Albania    Europe  2020-04-12  ...       0           ALB   2866376.0
2        Algeria    Africa  2020-04-12  ...      19           DZA  42228429.0
3        Andorra    Europe  2020-04-12  ...       2           AND     77006.0
4         Angola    Africa  2020-04-12  ...       0           AGO  30809762.0
..           ...       ...         ...  ...     ...           ...         ...
201    Venezuela   America  2020-04-12  ...       0           VEN  28870195.0
202      Vietnam      Asia  2020-04-12  ...       0           VNM  95540395.0
203        Yemen      Asia  2020-04-12  ...       0           YEM  28498687.0
204       Zambia    Africa  2020-04-12  ...       0           ZMB  17351822.0
205     Zimbabwe    Africa  2020-04-12  ...       0           ZWE  14439018.0

[206 rows x 10 columns]

In [ ]:
# 4.3. Удалить первые три строки.

data_csv.drop([0, 1, 2], inplace = True)
data_csv

                 country continent        date  ...  deaths  country_code  population
3                Andorra    Europe  2020-04-12  ...       2           AND     77006.0
4                 Angola    Africa  2020-04-12  ...       0           AGO  30809762.0
5               Anguilla   America  2020-04-12  ...       0           NaN         NaN
6    Antigua_and_Barbuda   America  2020-04-12  ...       0           ATG     96286.0
7              Argentina   America  2020-04-12  ...       7           ARG  44494502.0
..                   ...       ...         ...  ...     ...           ...         ...
201            Venezuela   America  2020-04-12  ...       0           VEN  28870195.0
202              Vietnam      Asia  2020-04-12  ...       0           VNM  95540395.0
203                Yemen      Asia  2020-04-12  ...       0           YEM  28498687.0
204               Zambia    Africa  2020-04-12  ...       0           ZMB  17351822.0
205             Zimbabwe    Africa  2020-04-12  ...       0           ZWE  14439018.0

[203 rows x 10 columns]

In [ ]:
#  4.4. Добавить удаленные первые три строки обратно.

# ваш код

# **ЗАДАНИЕ 5**
Следующий DataFrame записывает изменение веса четырех человек:
![Снимок.JPG]()

In [ ]:
#   5.1. Создайте из таблицы  DataFrame.

import numpy as np

import pandas as pd
df = pd.DataFrame({
    'Anna': [51.0, 52.0, 51.4, 52.8, 50.5],
    'Ben': [70.0, 70.5, 69.1, 69.8, 70.5],
    'Carole': [64.0, 64.2, 66.8, 66.0, 63.4],
    'Dave':[81.0, 81.3, 80.5, 80.9, 81.4]
})

df

   Anna   Ben  Carole  Dave
0  51.0  70.0    64.0  81.0
1  52.0  70.5    64.2  81.3
2  51.4  69.1    66.8  80.5
3  52.8  69.8    66.0  80.9
4  50.5  70.5    63.4  81.4

In [ ]:
#  5.2. Преобразуйте этот DataFrame в tidy format.

df_melted=df.melt()
df_melted.columns=['name', 'weight']
df_melted

      name  weight
0     Anna    51.0
1     Anna    52.0
2     Anna    51.4
3     Anna    52.8
4     Anna    50.5
5      Ben    70.0
6      Ben    70.5
7      Ben    69.1
8      Ben    69.8
9      Ben    70.5
10  Carole    64.0
11  Carole    64.2
12  Carole    66.8
13  Carole    66.0
14  Carole    63.4
15    Dave    81.0
16    Dave    81.3
17    Dave    80.5
18    Dave    80.9
19    Dave    81.4

In [ ]:
#  5.3. Определите, у кого из этих четырех человек было меньше всего колебаний по весу.

df_melted.groupby('name').agg({'weight':np.std})

          weight
name
Anna    0.893308
Ben     0.580517
Carole  1.446375
Dave    0.356371

In [ ]:
#  5.4. Для людей, чей средний вес менее 65 кг, пересчитайте их
#  вес (за все четыре дня) в фунтах и отобразить эти данные.